<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script>
        function showNewPostForm() {
            document.getElementById("newPostForm").style.display = "block";
            document.getElementById("closeNewPostForm").style.display = "block";
            document.getElementById("addPost").style.display = "none";
        }

        function closeNewPostForm() {
            document.getElementById("newPostForm").style.display = "none";
            document.getElementById("closeNewPostForm").style.display = "none";
            document.getElementById("addPost").style.display = "block";
        }

        function showSettingsOptions() {
            var options = document.getElementById('settingsOptions');
            if (options.style.display == 'none') {
                options.style.display = 'block';
            } else {
                options.style.display = 'none';
            }        
        }

        function displayComments(){
            var comments = document.getElementById('commentContainer');
            if (comments.style.display == 'none') {
                comments.style.display = 'block';
            } else {
                comments.style.display = 'none';
            }
        }


    </script>
    <title>Home</title> 
</head>
<body>
    <section id="dashMain" class="container">
        <div id="dashTitles">
            <h1 id="loginTitle" class="display-4">Wanna share!</h1>
        </div>

        <div id="settingsDiv">
            <button id="settingsBut" onclick="showSettingsOptions()">
                <span class="material-symbols-outlined">
                    settings
                </span>
            </button>
            <div id="settingsOptions" style="display: none;">
                <a href="/user/edit_profile">Edit profile</a>
                <a id="logountLink" href="/logout">Log out</a>
            </div>
        </div>


        <div>
            <form id="searchBar" class="form-inline" action="/user/searchUser" method="POST">
                <input id="searchInput" class="form-control mr-2" type="text" name="searchQuery" placeholder="Search for users..." required>
                <button id="searchButton" class="btn btn-outline-secondary" type="submit">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </button>
            </form>
        </div>

        <div id="addPostCont">
            <button id="addPost" class="btn btn-outline-success" onclick="showNewPostForm()">
                <span class="material-symbols-outlined">
                    add
                </span>
            </button>
        </div>

        <div>
            <button id="closeNewPostForm" class="btn btn-outline-danger" onclick="closeNewPostForm()" style="display: none;">
                <span class="material-symbols-outlined">
                    close
                </span>
            </button>

            <form id="newPostForm" class="form-group" action="/home/newPost" method="POST" style="display: none;">
                <label class="newPostLabel">Song name</label>
                <input class="form-control" type="text" name="songName" required>
                <label class="newPostLabel">Artist</label>
                <input class="form-control" type="text" name="songArtist" required>
                <label class="newPostLabel">Link</label>
                <input class="form-control" type="text" name="songLink">
                <label class="newPostLabel">Lyric / Verse / Bar</label>
                <input class="form-control" type="text" name="lyricText">
                <label class="newPostLabel">Verse singer</label>
                <input class="form-control" type="text" name="lyricSinger">
                <label class="newPostLabel">Caption</label>
                <input class="form-control" type="text" name="postCaption">
                <button id="publishPost" class="btn btn-primary" type="submit">
                    <span class="material-symbols-outlined">
                        publish
                    </span>
                </button>
            </form>
        </div>

        <div>
            {% for post in post_list %}
                <div class="post">
                    <span><strong>Usuario:</strong> {{ post.user }}</span>
                    <span><strong>Canción:</strong> {{ post.song }}</span>
                    <span><strong>Link:</strong> {{ post.link }}</span>
                    <span><strong>Lyric singer:</strong>{{ post.lyricSing }}</span>
                    <span><strong>Lyric:</strong>{{ post.lyric }}</span>
                    <span><strong>Descripción:</strong> {{ post.caption }}</span>
                    <span><strong>{{ post.likes }}</strong></span>

                    {% if post.liked == 1 %}
                    <form action="/post/unlike" method="POST">
                        <input type="hidden" value="{{post.postId}}" name="postID">
                        <button id="likeButton-{{ post.postId }}" class="btn btn-outline-primary" style="background-color: #007bff;">
                            <span class="material-symbols-outlined">
                                favorite
                            </span>
                        </button>
                    </form>
                    {% else %}
                    <form action="/post/like" method="POST">
                        <input type="hidden" value="{{post.postId}}" name="postID">
                        <button id="likeButton-{{ post.postId }}" class="btn btn-outline-primary">
                            <span class="material-symbols-outlined">
                                favorite
                            </span>
                        </button>
                    </form>
                    {% endif %}
                            
                    <button id="showComments-{{ post.postId }}" class="btn btn-outline-secondary" onclick="displayComments({{ post.postId }})">
                        <span class="material-symbols-outlined">
                            comment
                        </span>
                    </button>
                    <div id="commentContainer-{{ post.postId }}" style="display: none;">
                        <button id="addComment-{{ post.postId }}" onclick="displayCommForm({{ post.postId }})"></button>
                        <form id="newCommentForm-{{ post.postId }}" action="/post/comment" method="POST">
                            <label>New comment</label>
                            <input class="form-control" type="text" name="newComment" required>
                            <button type="submit" class="btn btn-outline-primary">
                                <span class="material-symbols-outlined">
                                    publish
                                </span>
                            </button> 
                        </form>
                        {% if post_comments %}
                            {% for comment in post_comments %}
                                <div class="comment">
                                    <span>{{ comment.user }}</span> 
                                    <span>{{ comment.text }}</span>   
                                </div>
                            {% endfor %}
                        {% else %}
                            <span>This post has no comments...</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>

        <div id="dvErrorMsg">
            {% with error_messages = get_flashed_messages() %}
                {% if error_messages %}
                    {% for message in error_messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </section>
</body>
</html>